# 1. 2019 data

In [1]:
import geopandas as gpd
import pandas as pd

from shapely.geometry import Point

import jenkspy as jk
import pandas as pd

import warnings
warnings.simplefilter('ignore')

In [2]:
DATA_PATH = "./data/raw_data/Accident data/"
MAP_PATH = "./data/Map/LSOA/"
FILE_NAME = "Accidents_2019.csv"

# obtain accidents data in 2019
raw_data = pd.read_csv(DATA_PATH+FILE_NAME)
accidents_19 = gpd.GeoDataFrame(raw_data, geometry = [Point(xy) for xy in zip (raw_data['Location_Easting_OSGR'], raw_data['Location_Northing_OSGR'])])

In [3]:
# open London lsoa polygon shapefile
lsoas_gdf = gpd.read_file('./data/map/LSOA_accident.shp')
lsoas_gdf
#lsoas_gdf.to_file(driver='ESRI Shapefile', filename='./data/Map/LSOA/lsoa_accidents.shp')

,code,lsoa,borough,geometry
0,E01000001,City of London 001A,City of London,"POLYGON ((532105.330 182017.386, 532162.728 18..."
1,E01000002,City of London 001B,City of London,"POLYGON ((532747.048 181793.042, 532671.921 18..."
2,E01000003,City of London 001C,City of London,"POLYGON ((532135.385 182204.275, 532158.489 18..."
3,E01000005,City of London 001E,City of London,"POLYGON ((533808.170 180773.910, 533649.287 18..."
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,"POLYGON ((545122.084 184321.013, 545271.951 18..."
...,...,...,...,...
4830,E01033742,Greenwich 007F,Greenwich,"POLYGON ((544642.760 179830.773, 544766.392 17..."
4831,E01033743,Greenwich 002H,Greenwich,"POLYGON ((546579.271 181103.898, 546687.117 18..."
4832,E01033744,Greenwich 007G,Greenwich,"POLYGON ((544536.564 179453.221, 544602.707 17..."
4833,E01033745,Greenwich 002I,Greenwich,"POLYGON ((546415.827 180158.362, 546320.798 18..."
4834,E01033746,Greenwich 038E,Greenwich,"POLYGON ((538140.138 177319.110, 538129.314 17..."

In [4]:
# select all road traffic accidents in London in 2019
PointInPolys = gpd.sjoin(lsoas_gdf, accidents_19, op = 'intersects', how='left')
accident_gdf = gpd.GeoDataFrame(PointInPolys, geometry = [Point(xy) for xy in zip (PointInPolys['Location_Easting_OSGR'], PointInPolys['Location_Northing_OSGR'])])
accident_gdf.dropna(axis = 0, inplace = True)
accident_gdf.to_file(driver='ESRI Shapefile', filename='./data/map/london_accidents_2019.shp')

In [5]:
accident_gdf

,code,lsoa,borough,geometry,index_right,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,E01000001,City of London 001A,City of London,POINT (532145.000 181424.000),97562.0,2019480876626,532145.0,181424.0,-0.096908,51.516292,...,0.0,4.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,E01000001
0,E01000001,City of London 001A,City of London,POINT (532165.000 181428.000),97602.0,2019480911529,532165.0,181428.0,-0.096618,51.516324,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,E01000001
0,E01000001,City of London 001A,City of London,POINT (532169.000 181553.000),97474.0,2019480843083,532169.0,181553.0,-0.096514,51.517446,...,0.0,1.0,4.0,1.0,1.0,0.0,0.0,1.0,2.0,E01000001
0,E01000001,City of London 001A,City of London,POINT (532169.000 181554.000),97502.0,2019480861959,532169.0,181554.0,-0.096513,51.517455,...,0.0,1.0,1.0,2.0,2.0,0.0,0.0,1.0,1.0,E01000001
0,E01000001,City of London 001A,City of London,POINT (532176.000 181578.000),97612.0,2019480911685,532176.0,181578.0,-0.096404,51.517669,...,0.0,1.0,4.0,1.0,1.0,0.0,0.0,1.0,2.0,E01000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833,E01033745,Greenwich 002I,Greenwich,POINT (545982.000 179934.000),9912.0,2019010185446,545982.0,179934.0,0.101757,51.499500,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,3.0,E01033745
4833,E01033745,Greenwich 002I,Greenwich,POINT (546050.000 180130.000),7735.0,2019010178862,546050.0,180130.0,0.102818,51.501243,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01033745
4833,E01033745,Greenwich 002I,Greenwich,POINT (546378.000 180690.000),9905.0,2019010185428,546378.0,180690.0,0.107772,51.506190,...,0.0,4.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01001688
4834,E01033746,Greenwich 038E,Greenwich,POINT (538131.000 176940.000),10830.0,2019010188054,538131.0,176940.0,-0.012447,51.474567,...,0.0,0.0,1.0,2.0,2.0,0.0,0.0,1.0,1.0,E01033746
4834,E01033746,Greenwich 038E,Greenwich,POINT (538077.000 177022.000),15008.0,2019010199923,538077.0,177022.0,-0.013191,51.475317,...,-1.0,8.0,1.0,2.0,2.0,-1.0,0.0,1.0,3.0,E01001644

## Data processing for the geodetector

In [6]:
lsoa_gdf_2019 = gpd.read_file("./data/geodetector/2019/accidents_swi_2019.shp")
lsoa_gdf = gpd.read_file("./data/geodetector/nbregression_data_lsoa.shp")

In [7]:
data_poi = lsoa_gdf[['code', 'lsoa', 'borough', 
       'ACCOMM', 'EDU', 'FOOD','PARK', 'SHOP', 'TRANSPORT', 'WORK', 
       'ENTERTAIN', 'ATTRACT']]

In [12]:
data_poi.FOOD.sum()

29708.0

In [8]:
data_swi = lsoa_gdf_2019[['code', 'SWI', 'count']]

In [111]:
# data preparation for geodetector
data_gdtr = pd.merge(data_poi, data_swi, how='left',on='code')

In [112]:
# JNB classification
class_nb = 5
poi = ['EDU', 'FOOD', 'SHOP', 'TRANSPORT', 'WORK', 'ENTERTAIN', 'ATTRACT']
for i in poi:
    breaks = jk.jenks_breaks(data_gdtr[i],nb_class=class_nb)
    k = 0
    data_gdtr[i][data_gdtr[i]>=breaks[0]]
    data_gdtr[i+'_jnb']=data_gdtr[i]
    for n in breaks:
        k += 1
       
        if k < class_nb+1:
            print(k)
            data_gdtr[i+'_jnb'][data_gdtr[i]>=n]=k
        else:
            break
    print(breaks)

1
2
3
4
5
[0.0, 1.0, 3.0, 7.0, 22.0, 77.0]
1
2
3
4
5
[0.0, 12.0, 52.0, 151.0, 322.0, 807.0]
1
2
3
4
5
[0.0, 16.0, 62.0, 192.0, 433.0, 759.0]
1
2
3
4
5
[0.0, 3.0, 8.0, 20.0, 61.0, 140.0]
1
2
3
4
5
[0.0, 38.0, 124.0, 412.0, 1431.0, 3218.0]
1
2
3
4
5
[0.0, 2.0, 7.0, 17.0, 48.0, 118.0]
1
2
3
4
5
[0.0, 3.0, 16.0, 43.0, 98.0, 207.0]

In [113]:
class_nb = 3
poi = ['ACCOMM','PARK']
for i in poi:
    breaks = jk.jenks_breaks(data_gdtr[i],nb_class=class_nb)
    k = 0
    data_gdtr[i][data_gdtr[i]>=breaks[0]]
    data_gdtr[i+'_jnb']=data_gdtr[i]
    for n in breaks:
        k += 1
       
        if k < class_nb+1:
            print(k)
            data_gdtr[i+'_jnb'][data_gdtr[i]>=n]=k
        else:
            break
    print(breaks)

1
2
3
[0.0, 1.0, 9.0, 53.0]
1
2
3
[0.0, 1.0, 8.0, 27.0]

In [117]:
# all geodetector data
data_gdtr.to_csv('./data/geodetector/2019/all/geodetector_data_2019.csv', index=False)

In [115]:
# weekday geodetector data
data_wd = pd.read_csv('./data/geodetector/2019/weekday/patterns_weekday.csv')
data_wd = data_wd[['code', 'Topic 1', 'Topic 2',
       'Topic 3', 'Topic 4', 'Topic 5', 'Topic 6', 'Topic 7', 'Topic 8',
       'Topic 9', 'Topic 10', 'Topic 11', 'Topic 12', 'Topic 13']]

# data preparation for geodetector
data_gdtr_wd = pd.merge(data_gdtr, data_wd, how='left',on='code')

data_gdtr_wd.to_csv('./data/geodetector/2019/weekday/geodetector_data_weekday19.csv', index=False)

In [116]:
# weekend geodetector data
data_we = pd.read_csv('./data/geodetector/2019/weekend/patterns_weekend.csv')
data_we = data_we[['code', 'Topic 1', 'Topic 2',
       'Topic 3', 'Topic 4', 'Topic 5', 'Topic 6', 'Topic 7', 'Topic 8']]

# data preparation for geodetector
data_gdtr_we = pd.merge(data_gdtr, data_we, how='left',on='code')

data_gdtr_we.to_csv('./data/geodetector/2019/weekend/geodetector_data_weekend19.csv', index=False)

# 2. 2020 data

In [ ]:
import geopandas as gpd
import pandas as pd

from shapely.geometry import Point

import jenkspy as jk
import pandas as pd

import warnings
warnings.simplefilter('ignore')

In [ ]:
DATA_PATH = "./data/raw_data/Accident data/"
MAP_PATH = "./data/Map/LSOA/"
FILE_NAME = "Accidents_2020.csv"

# obtain accidents data in 20
raw_data = pd.read_csv(DATA_PATH+FILE_NAME)
accidents_20 = gpd.GeoDataFrame(raw_data, geometry = [Point(xy) for xy in zip (raw_data['location_easting_osgr'], raw_data['location_northing_osgr'])])

In [ ]:
# open London lsoa polygon shapefile
lsoas_gdf = gpd.read_file('./data/map/LSOA_accident.shp')
lsoas_gdf
#lsoas_gdf.to_file(driver='ESRI Shapefile', filename='./data/Map/LSOA/lsoa_accidents.shp')

,code,lsoa,borough,geometry
0,E01000001,City of London 001A,City of London,"POLYGON ((532105.330 182017.386, 532162.728 18..."
1,E01000002,City of London 001B,City of London,"POLYGON ((532747.048 181793.042, 532671.921 18..."
2,E01000003,City of London 001C,City of London,"POLYGON ((532135.385 182204.275, 532158.489 18..."
3,E01000005,City of London 001E,City of London,"POLYGON ((533808.170 180773.910, 533649.287 18..."
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,"POLYGON ((545122.084 184321.013, 545271.951 18..."
...,...,...,...,...
4830,E01033742,Greenwich 007F,Greenwich,"POLYGON ((544642.760 179830.773, 544766.392 17..."
4831,E01033743,Greenwich 002H,Greenwich,"POLYGON ((546579.271 181103.898, 546687.117 18..."
4832,E01033744,Greenwich 007G,Greenwich,"POLYGON ((544536.564 179453.221, 544602.707 17..."
4833,E01033745,Greenwich 002I,Greenwich,"POLYGON ((546415.827 180158.362, 546320.798 18..."
4834,E01033746,Greenwich 038E,Greenwich,"POLYGON ((538140.138 177319.110, 538129.314 17..."

In [ ]:
# select all road traffic accidents in London in 2010-2019
PointInPolys = gpd.sjoin(lsoas_gdf, accidents_20, op = 'intersects', how='left')
accident_gdf = gpd.GeoDataFrame(PointInPolys, geometry = [Point(xy) for xy in zip (PointInPolys['location_easting_osgr'], PointInPolys['location_northing_osgr'])])
accident_gdf.dropna(axis = 0, inplace = True)
accident_gdf.to_file(driver='ESRI Shapefile', filename='./data/map/london_accidents_2020.shp')

In [ ]:
accident_gdf

,code,lsoa,borough,geometry,index_right,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,E01000001,City of London 001A,City of London,POINT (532125.000 181310.000),76973.0,2020480979862,2020.0,480979862,532125.0,181310.0,...,5.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,E01000001
0,E01000001,City of London 001A,City of London,POINT (532142.000 181417.000),76972.0,2020480979852,2020.0,480979852,532142.0,181417.0,...,4.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,E01000001
0,E01000001,City of London 001A,City of London,POINT (532147.000 181421.000),76922.0,2020480943048,2020.0,480943048,532147.0,181421.0,...,4.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,2.0,E01000001
0,E01000001,City of London 001A,City of London,POINT (532166.000 181548.000),76999.0,2020481001449,2020.0,481001449,532166.0,181548.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,E01000001
0,E01000001,City of London 001A,City of London,POINT (532206.000 181560.000),76956.0,2020480958805,2020.0,480958805,532206.0,181560.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,E01000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833,E01033745,Greenwich 002I,Greenwich,POINT (545995.000 179948.000),13848.0,2020010268106,2020.0,10268106,545995.0,179948.0,...,9.0,1.0,1.0,9.0,0.0,9.0,2.0,3.0,2.0,E01033745
4833,E01033745,Greenwich 002I,Greenwich,POINT (546064.000 180246.000),17505.0,2020010278051,2020.0,010278051,546064.0,180246.0,...,4.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,E01033745
4833,E01033745,Greenwich 002I,Greenwich,POINT (546265.000 180640.000),14888.0,2020010270769,2020.0,10270769,546265.0,180640.0,...,5.0,1.0,1.0,1.0,0.0,0.0,1.0,3.0,2.0,E01001688
4834,E01033746,Greenwich 038E,Greenwich,POINT (537993.000 176856.000),7701.0,2020010251475,2020.0,10251475,537993.0,176856.0,...,0.0,4.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,E01033746
4834,E01033746,Greenwich 038E,Greenwich,POINT (538106.000 177133.000),11568.0,2020010261853,2020.0,10261853,538106.0,177133.0,...,8.0,1.0,1.0,1.0,0.0,0.0,1.0,3.0,2.0,E01033746

In [ ]:
# drop the duplicated accidents based on accident ID.
def drop_duplicated_accidents(path):
    raw_data = gpd.read_file(path)
    data = raw_data.explode()
    data = data.drop(['level_0','level_1'],axis=1)
    accidents = data.drop_duplicates(['accident_i'])
    accidents.to_file(driver='ESRI Shapefile', filename=path)
    return 'The length of raw data is {}, and there are {} duplicated accidents.'.format(len(raw_data.accident_i), len(raw_data.accident_i)-len(accidents.accident_i))

accident_path = 'F:\\Individual programme\\data\\London\\accidents\\accident_2020\\snap_accidents_2020.shp'
drop_duplicated_accidents(accident_path)

ValueError: cannot insert level_1, already exists

## Data processing for the geodetector

In [ ]:
lsoa_gdf_2020 = gpd.read_file("./data/geodetector/accidents_swi_2020.shp")
lsoa_gdf = gpd.read_file("./data/geodetector/nbregression_data_lsoa.shp")

In [ ]:
lsoa_gdf.columns

Index(['code', 'raw_WSI', 'SWI', 'count', 'lsoa', 'borough', 'IMD2019Ind',
       'age_0_17', 'age_18_64', 'age_65_', 'ROAD_LENGT', 'ROAD_COUNT',
       'AROAD_LENG', 'AROAD_COUN', 'INTERSECT', 'ACCOMM', 'EDU', 'FOOD',
       'PARK', 'SHOP', 'TRANSPORT', 'WORK', 'OTHER_LEN', 'ENTERTAIN',
       'ATTRACT', 'AREA', 'DENSITY_R', 'DEN_0_17', 'DEN_18_64', 'DEN_65',
       'DEN_INTER', 'DEN_ACC', 'DEN_EDU', 'DEN_FOOD', 'DEN_PARK', 'DEN_TRAN',
       'DEN_WORK', 'DEN_ENTER', 'DEN_ATT', 'LISA_I', 'LISA_CL', 'LISA_P',
       'geometry'],
      dtype='object')

In [ ]:
data_poi = lsoa_gdf[['code', 'lsoa', 'borough', 
       'ACCOMM', 'EDU', 'FOOD','PARK', 'SHOP', 'TRANSPORT', 'WORK', 
       'ENTERTAIN', 'ATTRACT']]

In [ ]:
data_swi = lsoa_gdf_2020[['code', 'SWI', 'count']]

In [ ]:
# data preparation for geodetector
data_gdtr = pd.merge(data_poi, data_swi, how='left',on='code')

In [ ]:
# JNB classification
class_nb = 5
poi = ['EDU', 'FOOD', 'SHOP', 'TRANSPORT', 'WORK', 'ENTERTAIN', 'ATTRACT']
for i in poi:
    breaks = jk.jenks_breaks(data_gdtr[i],nb_class=class_nb)
    k = 0
    data_gdtr[i][data_gdtr[i]>=breaks[0]]
    data_gdtr[i+'_jnb']=data_gdtr[i]
    for n in breaks:
        k += 1
       
        if k < class_nb+1:
            print(k)
            data_gdtr[i+'_jnb'][data_gdtr[i]>=n]=k
        else:
            break
    print(breaks)

1
2
3
4
5
[0.0, 1.0, 3.0, 7.0, 22.0, 77.0]
1
2
3
4
5
[0.0, 12.0, 52.0, 151.0, 322.0, 807.0]
1
2
3
4
5
[0.0, 16.0, 62.0, 192.0, 433.0, 759.0]
1
2
3
4
5
[0.0, 3.0, 8.0, 20.0, 61.0, 140.0]
1
2
3
4
5
[0.0, 38.0, 124.0, 412.0, 1431.0, 3218.0]
1
2
3
4
5
[0.0, 2.0, 7.0, 17.0, 48.0, 118.0]
1
2
3
4
5
[0.0, 3.0, 16.0, 43.0, 98.0, 207.0]

In [ ]:
class_nb = 3
poi = ['ACCOMM','PARK']
for i in poi:
    breaks = jk.jenks_breaks(data_gdtr[i],nb_class=class_nb)
    k = 0
    data_gdtr[i][data_gdtr[i]>=breaks[0]]
    data_gdtr[i+'_jnb']=data_gdtr[i]
    for n in breaks:
        k += 1
       
        if k < class_nb+1:
            print(k)
            data_gdtr[i+'_jnb'][data_gdtr[i]>=n]=k
        else:
            break
    print(breaks)

1
2
3
[0.0, 1.0, 9.0, 53.0]
1
2
3
[0.0, 1.0, 8.0, 27.0]

In [ ]:
# all geodetector data
# data_gdtr.to_csv('./data/geodetector/2020/all/geodetector_data_2020.csv', index=False)

In [ ]:
# weekday geodetector data
data_wd = pd.read_csv('./data/geodetector/weekday/patterns_weekday.csv')
data_wd = data_wd[['code', 'Topic 1', 'Topic 2',
       'Topic 3', 'Topic 4', 'Topic 5', 'Topic 6', 'Topic 7', 'Topic 8',
       'Topic 9', 'Topic 10', 'Topic 11', 'Topic 12', 'Topic 13']]

# data preparation for geodetector
data_gdtr_wd = pd.merge(data_gdtr, data_wd, how='left',on='code')

data_gdtr_wd.to_csv('./data/geodetector/2020/weekday/geodetector_data_weekday20.csv', index=False)

In [ ]:
# weekend geodetector data
data_we = pd.read_csv('./data/geodetector/weekend/patterns_weekend.csv')
data_we = data_we[['code', 'Topic 1', 'Topic 2',
       'Topic 3', 'Topic 4', 'Topic 5', 'Topic 6', 'Topic 7', 'Topic 8']]

# data preparation for geodetector
data_gdtr_we = pd.merge(data_gdtr, data_we, how='left',on='code')

data_gdtr_we.to_csv('./data/geodetector/2020/weekend/geodetector_data_weekend20.csv', index=False)